services:
  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: golang
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:

